<html>
    <head>
        <!-- Tags meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- Title -->
        <title>Dados</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        
        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- JavaScript -->
        <script src="../scripts/script.js"></script>  
    </head>
    <body>
        <div class="geral">
        <section class="container-fluid" id="menu">
            <div class="row justify-content-center align-items-center">
                <div>
                    <ul>
                        <li><a href="./index.html">HOME</a></li>
                        <li><a href="./dados.html">DADOS</a></li>
                        <li><a href="./sobre.html">SOBRE</a></li>
                    </ul>
                </div>
            </div>
        </section>
        
        <section class="container-fluid" id="main">
            <div class="row justify-content-center align-items-center">
                <div class='col-md-5'>
                    <div class="imgSide">
                        <a href="https://brasil.io/home/">
                            <img class="imgBrasil" src="../images/logo.png">
                        </a>
                    </div>
                </div>
                <div class='col-md-6'>
                    <div class="textSide">
                        <h1>Brasil.io</h1>                     
                        <p>Todos os dados utilizados na aplicação são captados a partir da API disponibilizada pela plataforma Brasil.io.</h1>                       
                        <p>A plataforma conta com 40 voluntários, que diariamente contribuem na compilação de boletins epidermiológicos das 27 secretarias Estaduais de Saúde. 
                            Deste modo, é possível acessar informações sobre a COVID-19 por município, são elas: <br>- Total de casos<br>- Total de mortes<br>- Novos casos<br>- População contaminada</p>
                        <p>Neste sentido, são disponibilizadas também outras bases estruturadas, como: população dos municípios afetados, óbitos suspeitos e etc. </p>
                    </div>
                </div>
            </div>
        </section>
        
        <footer class="container-fluid">
            <div class='row'>
                <div class="col-12">
                    <div class="text-center"><p>© Copyright 2021 Otávio Silva, Marcos Andrade, Brian Arruk e Rafael Freitas</p></div>
                </div>
            </div>
        </footer>
        </div>

    </body>
</html>