<html>
    <head>
        <!-- Tags meta -->
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
        
        <!-- Title -->
        <title>Sobre</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

        <!-- jQuery-->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="../css/style.css"/>
        
        <!-- Chart.js -->
        <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

        <!-- JavaScript -->
        <script src="../scripts/script.js"></script>  
    </head>
    <body>
        <div class="geral">
        <section class="container-fluid" id="menu">
            <div class="row justify-content-center align-items-center">
                <div>
                    <ul>
                        <li><a href="./index.html">HOME</a></li>
                        <li><a href="./dados.html">DADOS</a></li>
                        <li><a href="./sobre.html">SOBRE</a></li>
                        <li><a href="./tecnologias.html">TECNOLOGIAS</a></li>
                        <li><a href="./contato.html">CONTATO</a></li>
                    </ul>
                </div>
            </div>
        </section>
        <section class="container" id="main">
            <div style="background-color: white;border-radius: 10px; box-shadow: 0 0 5px 0px black;" class="row justify-content-center">
                <div class='col-md-6 col-10'>
                    <div class="imgSide">
                        <a href="https://brasil.io/home/">
                            <img class="imgBrasil" style="margin-top: 50px; margin-bottom: 30px;" src="../images/logo_chart.jpg">
                            <img class="imgBrasil" src="../images/img_tecnologias.jpg">
                            
                        </a>
                    </div>
                </div>
                <div class='col-md-6 col-10'>
                    <div class="textSide">
                        <h1><b>Sobre</b></h1>                     
                        <p>Para o front-end do site utilizamos HTML5, CSS, Bootstrap e a biblioteca Chart.js para geração dos gráficos responsivos.</p>                       
                        <p>Já o back-end, por sua vez, foi desenvolvido todo em Node.js com auxílio do framework Express para gestão de requisições e respostas das APIs.</p>
                        <p>A comunicação do front-end com o back-end foi feita a partir do jQuery, mais especificamente com a função Ajax.</p> 
                        <p>Todo código fonte pode ser acessado clicando <a style="color:blue" href="https://github.com/otaviosilva22/node-dashboard-covid">aqui.</a>
                        <br>
                    </div>
                </div>
            </div>
        </section>
        <footer class="container-fluid">
            <div class='row'>
                <div class="col-12">
                    <div class="text-center"><p>© Copyright 2021 Otávio Silva, Marcos Andrade, Brian Arruk e Rafael Freitas</p></div>
                </div>
            </div>
        </footer>
        </div>

    </body>
</html>